main #intro-register {
    margin-top: 65px;
}

main #intro-register h3 {
    text-align: center;
    margin: 0 0 2rem;
    font-weight: bold;
}

.form-registration {
    margin-left: 50%;
}

.form-registration input {
    width: 300px;
    margin: 0px 0 10px;

}

.btn {
    flex: 300px;
    color: white;
    background: #daaa0e;
}

.listing-reg h3 {
    text-align: center;
    margin: 0 0 2rem;
    font-weight: bold;
}