doctype html
html
    head
        title= `Simple Kitchen - ${title}`

        // Registration Form
        //link(rel='stylesheet', href='/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/css/styles-form.css')

        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')
        script(src='script.js')
        
        
  
    body#sk
        div.container.listing-reg

            block content